#modulo-sct {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.left-side {
    width: 40%;
    .info-dispo {
        display: flex;
        width: 100%;
        #render {
            //width: 50%;
            position: inherit;
        }
    }
}

.right-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    .counter-pisos-cnt {
        display: flex;
        h1 {
            width: 90px;
        }
        .counter-pisos {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            position: relative;
            align-self: center;
            #separador-piso-btns {
                width: 30px;
            }
            button {
                background-color: #C4C4C4;
                height: 20px;
                width: 25px;
                border: none;
                cursor: pointer;
            }
            #button-up {
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                margin-bottom: 2px;
            }
            #button-down {
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                margin-top: 2px;
            }
        }
    }
    h1 {
        color: orangered;
    }
    .row-areas {
        display: flex;
        column-gap: 40px;
        .areas {
            font-size: 12px;
            font-weight: 100;
            margin-bottom: 0;
            cursor: pointer;

        }
        .numero-metros {
            margin-top: 0;
            font-size: 38px;
            font-weight: 100;
            cursor: pointer;
        }
        #area-rentable {
            color: orangered;
            opacity: 1;
        }
        #metros-rentable {
            color: #000;
            opacity: 1;
        }
        #area-alfombra {
            color: #000;
            opacity: 0.2;
        }
        #metros-alfombra {
            color: #000;
            opacity: 0.2;
        }
        #area-total {
            color: #000;
            opacity: 0.2;
        }
        #metros-total {
            color: #000;
            opacity: 0.2;
        }
    }
    #img-plano {
        width: 80%;
    }
    .info-estado-dispo {
        display: flex;
        h3 {
            color: orangered;
            margin-right: 30px;
        }
        img {
            width: 10%;
        }
    }
    .info-row {
        display: flex;
        width: 100%;
        ul {
            padding-left: 0;
            li {
                color: orangered;
                display: inline;
                margin-right: 45px;
                button {
                    color: white;
                    background-color: orangered;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 2px;
                    &:hover {
                       cursor: pointer; 
                       background-color: rgb(245, 111, 62);
                    }
                }
                a {
                    color: orangered;
                    font-size: 12px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                i {
                    margin-left: 10px;
                }
            }
        }
    }
}
